.App {
  text-align: center;
}

.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
  padding: 20px;
}

.container > form {
  border: 1px solid lightgrey;
  border-radius: 5px;
  background: #fff;
  padding: 20px;
  width: 70%;
}

pre {
  width: 70%;
  color: #fff;
  font-size: larger;
}

p {
  color: red;
}

button {
  background: lightgray !important;
  margin-top: 30px !important; 
  
}

button.centered-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}