body {
  background-image: url("../resources/todo-background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.App {}

.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 550px;
  width: 100%;
  margin: auto;
  padding: 20px;
}

.container>form {
  /* border: 1px solid lightgrey;
  border-radius: 5px;
  background: #fff; */
  padding: 20px;
  width: 70%;
}

pre {
  width: 70%;
  color: #fff;
  font-size: larger;
}

p {
  color: rgb(19, 102, 153);
}

button {
  margin-top: 30px !important;
  color: white !important;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}

.login-heading {
  color: rgb(19, 102, 153);
  margin-bottom: 80px;
}

.login-signup-button {
  background: rgb(19, 102, 153) !important;
}

.password-reset-button {
  background: rgb(19, 102, 153) !important;
}

button.ui.button.centered.login-google-button {
  background: none !important;
  color: rgb(19, 102, 153) !important;
  border: 1px solid rgb(19, 102, 153) !important;
}

.register-heading {
  margin-bottom: 40px;
}

.terms-and-conditions {
  text-align: center;
  color: rgb(57, 90, 110)
}

.privacy-terms-text {
  color: black;
}